.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    width: 100%;
    box-sizing: border-box;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #1890ff;
    text-decoration: none;
  }
  .button {
    width: 100%;
    margin-top: 12px;
    height: 42px;
    border-radius: 21px;
    background-color: #1890ff;
    border: 1px solid #1890ff;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      background-color: #0e2fa6;
    }
  }
}