.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
  &_active {
    border: 2px solid #525252;
  }
  &__grey {
    background-color: #c9d1d3;
  }
  &__green {
    background-color: #42b883;
  }
  &__blue {
    background-color: #64c4ed;
  }
  &__pink {
    background-color: #ffbbcc;
  }
  &__lime {
    background-color: #b6e6bd;
  }
  &__purple {
    background-color: #c355f5;
  }
  &__black {
    background-color: #0d001d;
  }
  &__red {
    background-color: #ff6464;
  }
}
