.ant-popover-content:hover .tasks__items-row-actions  {
  opacity: 1;
}

.task__items_edit {
  margin-top: 2%;
}

.tasks {
  height:100%;
  padding-bottom: 100px;

  .sort {
    float: right;
    width: 200px;
  }

  &__items {
    &_row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      &_actions {
        display: flex;
        transition: 0.15s ease-in-out;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: lighten(#f4f6f8, 2%);
          border-radius: 6px;
          margin-left: 5px;
          cursor: pointer;
          &:hover {
            background-color: darken(#f4f6f8, 2%);
            img {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  &__add_items {
    display: flex;
    &__picker {
      margin-right: 5px;
    }
    &__add_input {
      margin-right: 5px;
      margin-top: 1px;
      height: 40px;
    }
    &__button {
      width: 152px;
      height: 42px;
      border-radius: 21px;
      background-color: #1890ff;
      border: 1px solid #1890ff;
      color: #ffffff;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        background-color: #0e2fa6;
      }
    }
  }

  &__title {
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #1890ff;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    &:hover {
      svg {
        opacity: 0.2;
      }
    }
    svg {
      opacity: 0;
      cursor: pointer;
      margin-left: 15px;

      &:hover {
        opacity: 1;
      }
    }

    &__grey {
      color: #c9d1d3;
    }
    &__green {
      color: #42b883;
    }
    &__blue {
      color: #64c4ed;
    }
    &__pink {
      color: #ffbbcc;
    }
    &__lime {
      color: #b6e6bd;
    }
    &__purple {
      color: #c355f5;
    }
    &__black {
      color: #0d001d;
    }
    &__red {
      color: #ff6464;
    }

  }

  &__list {
    height:100%;
    overflow-y: auto;
  }
  &__items {
    margin-top: 30px;
    &_row {
      display: flex;
      margin-bottom: 15px;
      input {
        margin-left: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }
    .mark {
      transition: opacity 0.15s ease-in-out;
    }
    label.active {
      background: #42b883;
      border-color: #42b883;
      .mark {
        opacity: 1;
        color: white;
      }
    }
    &:hover {
      label {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        .mark {
          opacity: 1;
          color: black;
          path {
            stroke: #b2b2b2;
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 30px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      .mark {
        opacity: 0;
      }
    }
    &.warning {
      label {
        border-color: #ffc107;
        .mark {
          color: white;
        }
      }
      label.active {
        background: #42b883;
        border-color: #42b883;
      }
      &:hover {
        label {
          background-color: #ffc107;
          border-color: #ffc107;
        }
      }
    }
    &.failed {
      label {
        border-color: #dc3545;
        .mark {
          color: white;
        }
      }
      label.active {
        background: #42b883;
        border-color: #42b883;
      }
      &:hover {
        label {
          background-color: #dc3545;
          border-color: #dc3545;
        }
      }
    }
  }
}