.tasks {
  height:100%;
  padding-bottom: 100px;

  &__add-items {
    display: flex;
    &__picker {
      margin-right: 5px;
    }
    &__add-input {
      margin-right: 5px;
      margin-top: 1px;
      height: 40px;
    }
    &__button {
      width: 152px;
      height: 42px;
      border-radius: 21px;
      background-color: #1890ff;
      border: 1px solid #1890ff;
      color: #ffffff;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        background-color: #0e2fa6;
      }
    }
  }

  &__title {
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #1890ff;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    &:hover {
      svg {
        opacity: 0.2;
      }
    }
    svg {
      opacity: 0;
      cursor: pointer;
      margin-left: 15px;

      &:hover {
        opacity: 1;
      }
    }

    &--grey {
      color: #c9d1d3;
    }
    &--green {
      color: #42b883;
    }
    &--blue {
      color: #64c4ed;
    }
    &--pink {
      color: #ffbbcc;
    }
    &--lime {
      color: #b6e6bd;
    }
    &--purple {
      color: #c355f5;
    }
    &--black {
      color: #0d001d;
    }
    &--red {
      color: #ff6464;
    }

  }

  &__list {
    height:100%;
    overflow-y: auto;
  }
  &__items {
    margin-top: 30px;
    &-row {
      display: flex;
      //align-items: center;
      margin-bottom: 15px;
      input {
        margin-left: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }
    .mark {
      transition: opacity 0.15s ease-in-out;
    }
    input:checked + label {
      background: #42b883;
      border-color: #42b883;
      .mark {
        opacity: 1;
      }
    }
    &:hover {
      label {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        .mark {
          opacity: 1;
          path {
            stroke: #b2b2b2;
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 30px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      .mark {
        opacity: 0;
      }
    }
  }
}