.sidebar {
  margin-bottom: 30px;
  $self: &;

  &__add-button {
    color: #767676;
    &:hover {
      color: #393939;
    }
  }
  li {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    transition: background-color 0.15s ease-in-out;
    &:hover #{$self}__remove-icon {
      opacity: 0.2;
    }
    #{$self}__remove-icon {
      position: absolute;
      right: 20px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
    span {
      flex: 1;
    }
    &.active {
      background: #ffffff;
      border-radius: 4px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
    }
    .badge {
      position: relative;
      left: 5px;
    }
  }
  .colors {
    display: inline-flex;
    margin-right: 8px;
  }
}
